note
2. Jon Kleinberg, Eva Tardos Algorithm Design  2005.pdf
Reduction Algorithms for Graphs of Small Treewidth1.pdf
Vertex\ Cover/input.txt
Vertex\ Cover/input2.txt
Vertex\ Cover/vertexCover
Vertex\ Cover/vertexCover.o
Independent\ set/input.txt
Independent\ set/Maximum\ Independent\ Set\ Of\ Forest/MaximumIndependentSetOfForest.o
Independent\ set/Maximum\ Independent\ Set\ Of\ Forest/maxIndependentSet
Independent\ set/Maximum\ Independent\ Set\ Of\ Forest/input.txt
Independent\ set/Maximum\ Weight\ Independent\ Set\ On\ Tree/MaximumWeightIndependentSetOnTree.o
Independent\ set/Maximum\ Weight\ Independent\ Set\ On\ Tree/maxWeightIndependentSet
Independent\ set/Maximum\ Weight\ Independent\ Set\ On\ Tree/input.txt